* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root {
    /* Colors */
    --white: hsl(0, 100%, 100%);
    --purple-100: hsl(275, 100%, 97%);
    --purple-600: hsl(292, 16%, 49%);
    --purple-950: hsl(292, 42%, 14%);

    /* Font size */
    --paragraph-font-size: 16px;
}

body {
    background-image: url('/assets/images/background-pattern-mobile.svg');
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
}

.accordion-outer {
    padding: 1.5rem;
}

.accordion-inner {
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 0.8rem;
    max-width: 25rem;
}

.heading {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.heading h1 {
    font-size: 1.8rem;
}

.heading img {
    width: 25px;
    height: auto;
}

.accordion-list {
    margin-top: 1.2rem;
}

.accordion-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.accordion-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.accordion-title {
    color: var(--purple-950);
    font-weight: 600;
    font-size: 1rem;
}

.accordion-description {
    color: var(--purple-600);
    font-size: var(--paragraph-font-size);
    text-wrap: balance;
}
